<%= render 'partials/signup'%>
<%= form_for @user,url: user_create_path do |f| %>
</br></br>

  <div style="font-size:18px;">
  
  <div class="container">
  <h1 style="text-align:center">Sign Up</h1></br>
 <div class="row">
 <div class="col-sm-4">
 </div>
 <div class="col-sm-5">
      <%= f.label "Enter First name" %>    <%= f.text_field :firstname , class: "form-control",required: true%></br></br>
    <%= f.label :Enter_Last_name%>       <%= f.text_field :lastname , class: "form-control",:required=>true %></br></br>
    <%= f.label :Enter_User_name%>       <%= f.text_field :username, class: "form-control",:required=>true%></br></br>
    <%= f.label :Enter_valid_Email %>           <%= f.email_field :email, class: "form-control",:required=>true %></br></br>
    <%= f.label :Enter_Ph_number%>    <%= f.text_field :phone,class: "form-control",:required=>true %></br></br>
    <%= f.label :Upload_Image%> <%= f.file_field :images %>
    <%= f.label :Enter_password %>              <%= f.password_field :password,class: "form-control", :ng => {:model => "password"},:required =>true %></br></br>
      <% if @user.errors.any? %>
    <div class="error_messages">
      <ul>
        <% for message in @user.errors.full_messages %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
    <%= f.label :password_confirmation %>  <%= f.password_field :password_confirmation,class: "form-control",:ng => {:model => "confrim"},:required=>true %></br></br>
  
<% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
      <% end %></br>
  <%= f.submit :Submit,:class=>"btn",:ng => {:disabled => "result"}  %>
  <%= link_to "<button class=btn btn-success>Cancel</button>".html_safe,main_form_path%>
</div>
<div class="col-sm-3">
</div> 
</div>  

  </div>

<% end %>
